# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS cache files
*.VC.db
*.VC.VC.opendb

src/A3DB\.opensdf

src/A3DB\.sdf

src/Release/

src/Debug/

src/A3DB/Release/

src/A3DB/Debug/
src/.vs/
.vs/
